.container{
  max-width: 1162px;
  margin: 0 auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.relative{
  position: relative;
}

.width-100{
  width: 100%;
}

.ml-a{
  margin-left: auto;
}

.mr-tab-60{
  @include tablet{
    margin-right: 60px;
  }
}

.mb-25{
  margin-bottom: 25px;
}

.mobile\:mb-20{
  @include mobile{
    margin-bottom: 20px;
  }
}

.tablet\:mr-15{
  @include tablet{
    margin-right: 15px;
  }
}

.desktop\:mr-50{
  @include desktop{
    margin-right: 50px;
  }
}

.tablet\:mt-55{
  @include tablet{
    margin-top: 55px;
  }
}

.tablet\:mt-55 {

}

.tab-mt-40{
  @include tablet{
    margin-top: 40px;
  }
}

.mobile\:text-center{
  @include mobile{
    text-align: center;
  }
}

.desktop\:br{
  display: none;

  @include desktop{
    display: block;
  }
}

.tablet\:ml-a{
  @include tablet{
    margin-left: auto;
  }
}

.link-indent{
  @include tablet{
    margin-right: 31px;
  }

  @include desktop{
    margin-right: 40px;
  }
}

.mt-4 {
  margin-top: 4px;
}

.mb-25{
  margin-bottom: 25px;
}

.tab-mt-35 {
  margin-top: 35px;
}

.mobile\:mr-20{
  @include mobile{
    margin-right: 20px;
  }
}

.mobile\:mr-7{
  @include mobile{
    margin-right: 7px;
  }
}

.tablet\:mr-14{
  @include tablet{
    margin-right: 14px;
  }
}

.mr-22{
  margin-right: 22px;
}

.tablet\:mr-38{
  @include tablet{
    margin-right: 38px;
  }
}

.tablet\:mb-15{
  @include tablet{
    margin-bottom: 15px;
  }
}

.desktop\:mr-42{
  @include desktop{
    margin-right: 42px;
  }
}

