.filter-panel{
  width: 50%;
  padding: 15px;
  padding-top: 70px;
  background-color: $color-filter-background;
  position: absolute;
  left: -50%;
  top: 0;

  @include tablet{
    width: 32.5%;
    left: 0;
  }
}

.filter-panel__wrapper{
  @include tablet{
    padding: 80px 20px 60px 20px;
    max-width: 328px;
    margin-left: auto;
  }

  @include desktop{
    padding: 80px 68px 60px 59px;
  }
}

.filter-panel__name{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: $color-form-heading-background;
  font-family: "Gilroy" , sans-serif;
  font-size: $typography-text-medium;
  line-height: $typography-text-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-text;
  font-weight: bold;

  @include tablet{
    padding: 30px;
  }
}

