@import "../units/typography/utils";
@import "../units/colors/utils";

.navbar{
  background-color: $color-primary;
  padding: 10px;

  @include tablet{
    padding: 27px 60px 165px 60px;
  }
}

.navbar__logo{
  line-height: $typography-h1;
  transition: 0.3s;

  @include  mobile{
    text-align: center;
  }

  @include tablet{
    position: absolute;
    top: -1.5rem;
    left: 60px;
  }
}

.navbar__logo:hover{
  opacity: 0.7;
}

.navbar__logo:active{
  opacity: 0.45;
}

.navbar__logo-link{
  font-size: $typography-h1;
  line-height: $typography-h1;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  font-family: "Gilroy" , sans-serif;
}

