.product-categories-sec{
  margin-top: 75px;
  margin-bottom: 75px;
}

.categories-list{
  display: flex;
  flex-wrap: wrap;

  @include mobile{
    flex-wrap: nowrap;
    overflow: auto;
  }

  @include tablet{
    flex-wrap: nowrap;
    overflow: auto;
  }

  @include desktop{
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.categories-list__item{
  flex-basis: 160px;
  margin-right: 40px;

  @include desktop{
    margin-right: 0;
  }
}

.categories-list__link:hover .categories-list__icon-wrapper{
  background-color: $color-button-background;
}

.categories-list__link:active .categories-list__icon-wrapper{
  background-color: $color-button-background;
  opacity: 0.5;
}

.categories-list__link:active .categories-list__name{
  opacity: 0.5;
}

.categories-list__icon-wrapper{
  padding: 10px;
  height: 160px;
  width: 160px;
  transition: 0.4s;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.categories-list__name{
  font-size: $typography-text-large;
  font-family: "Gilroy" , sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 10px;

  @include tablet{
    margin-top: 20px;
  }

  @include desktop{
    margin-top: 38px;
  }
}