.products-catalog{
  width: 100%;

  @include tablet{
    width: 71.8%;
    margin-left: auto;
  }

  @include desktop{
    width: calc(50% + 253px);
  }
}

.products-catalog__wrapper{
  width: 100%;
  padding: 118.2px 15px 15px 15px;

  @include tablet{
    max-width: 832px;
    padding: 90px 20px 38px 20px;
  }

  @include desktop{
    padding: 140px 0 77px 72px;
  }
}

.products-catalog__list{
  display: flex;
  justify-content: space-between;

  @include mobile{
    flex-direction: column;
  }

  @include tablet{
    flex-wrap: wrap;
  }
}

.products-catalog__item{
  flex-basis: 48%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.products-catalog__image{
  transition: 0.3s;
}

.products-catalog__item:hover .products-catalog__image{
  opacity: 0.6;
}

.products-catalog__item:hover .products-catalog__add-cart-button{
  display: flex;
}

.products-catalog__item:hover .products-catalog__add-compare-button{
  display: block;
}

.products-catalog__add-cart-button{
  display: none;
  transition: 0.3s;
  width: 220px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.products-catalog__add-compare-button{
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 160px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: $typography-text-y-small;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  outline: 0;
}

.products-catalog__add-compare-button:hover{
  opacity: 1;
}

.products-catalog__add-compare-button:active{
  opacity: 0.4;
}

.products-catalog__name-price{
  display: flex;
  margin-top: 10px;
  width: 100%;
  max-width: 360px;

  @include tablet{
    margin-top: 20px
  }

  @include desktop{
    margin-top: 30px;
  }
}

.products-catalog__name{
  font-size: $typography-text-small;
  font-family: "Gilroy" , sans-serif;
  font-weight: bold;
  color: $color-text;
  flex-basis: 68%;

  @include tablet{
    font-size: $typography-text-medium;
  }

  @include desktop{
    font-size: $typography-text-large;
  }


}

.products-catalog__price{
  font-size: $typography-text-small;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: $color-text-secondary;
  flex-basis: 30.5%;
  text-align: right;
  margin-right: auto;

  @include tablet{
    font-size: $typography-text-medium;
  }
}

.products-catalog__nav{
  display: flex;
  font-size: $typography-text-small;
  font-family: "Gilroy" , sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 27px 30px;
  background-color: $color-sort-background;
  line-height: 1;

  @include tablet{
    font-size: $typography-text-medium;
  }
}

.products-catalog__step{
  color: $color-text;
}

.products-catalog__num-list{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  color: $color-sort-inactive;
}

.products-catalog__link{
  color: $color-sort-inactive;
}

.products-catalog__link--active{
  color: $color-text;
}

