.services-panel{
  background-color: $color-secondary;
  margin-top: 40px;
}

#service-1:checked ~ .services-panel__list [for="slide-1"] {
  display: flex
}

#service-2:checked ~ .services-panel__list [for="slide-2"] {
  display: flex
}

#service-3:checked ~ .services-panel__list [for="slide-3"] {
  display: flex
}

#service-1:checked ~ .services-panel__list [data-slide="1"],
#service-2:checked ~ .services-panel__list [data-slide="2"],
#service-3:checked ~ .services-panel__list [data-slide="3"] {
  display: flex;
}


