$typography-h1: 3rem;

$typography-text-extra-large: 2.9375rem;
$typography-text-x-large: 2.25rem;
$typography-mobile-large: 1.75rem;
$typography-text-large: 1.125rem;
$typography-text-medium: 1rem;
$typography-text-small: 0.9375rem;
$typography-text-y-small: 0.8125rem;
$typography-text-x-small: 0.75rem;

$typography-slide-num: 11.2rem;