$color-text: #000;
$color-text-secondary: #464646;
$color-text-footer: #fff;
$color-text-nav-submenu: #bcbcbc;
$color-header-logout: #ac9e69;
$color-footer-logout: #7e7e7e;
$color-sort-inactive: #a4a4a4;
$color-arrov-inactive: #c3c2c2;
$color-form-number-borders: #bebebe;
$color-footer-name: #ffc600;

$color-primary: #f7e296;
$color-secondary: #e5e5e5;

$color-button-background: #f0c52e;
$color-footer-background: #464646;
$color-form-heading-background: #dbdbdb;
$color-sort-background: #ebebeb;
$color-filter-background: #efefef;

$color-range-active: #91c92f;
$color-range-inactive: #dbdbdb;