.button{
  font-family: "Gilroy" , sans-serif;
  font-size: $typography-text-large;
  line-height: $typography-text-large;
  font-weight: bold;
  color: black;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus{
  outline: 0;
}

.button:active{
  color:$color-button-active;
}

.button--service:active::after{
  background-color: $color-text;
}

.button--service:active{
  color:$color-button-active-text;
}


.button:hover::after{
  height: 99.7%;
}

.button::after{
  content: " ";
  position: absolute;
  left:0;
  right: 0;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-button-background;
  z-index: 1;
  transition: 0.3s;
}

.button__text{
  position: relative;
  z-index: 2;
  height: 100%;
  font-size: $typography-text-large;
  line-height: $typography-text-large + 1rem;
  letter-spacing: 3px;
  padding-top: 2px;
}

.button--active{
  width: 100%;
  background-color: $color-text;
}

.button--active .button{
  color: $color-button-active-text;
}

.button--active .button::after{
  content: " ";
  background-color: $color-text;
}
